<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" /> -->
		<meta name="format-detection" content="telephone=no" />
		<meta name="author" content="Ricardo Rocha"/>
    <meta name="copyright" content="Ricardo Rocha"/>
    <meta name="e-mail" content="rocharor@gmail.com"/>
    <meta name="keywords" content="Modelo"/>

    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon" />

    <title>Titulo</title>

		<!-- BIBLIOTECAS CSS-->
		<link rel="stylesheet" href="/libs/libs.min.css">
		<!-- CSS PADRÃO -->
		<link type="text/css" rel="stylesheet" href="/css/style.css" />

	</head>
	<body>
		<header>
			{include file="topo.html"}
		</header>

		<div class="container">
			{include file="$principal"}
		</div>

		<footer>
			{include file="rodape.html"}
		</footer>

		<!-- BIBLIOTECAS JS-->
		<script src="/libs/libs.min.js"></script>
		<!-- JS PADRÃO-->
		<script src="/js/padrao.js"></script>
	</body>
</html>
