
$vermelho = #f00;
$preto = #000;

body
	font-family: arial;
	margin: 0;
	padding: 0;

a
	cursor: pointer;
	text-decoration: none;

header
	border: solid $preto;
	padding: 20px;

footer
	border: solid $vermelho;
	padding: 20px;
